.header{
    text-align: center;
    padding: 60px ;
    background: #3e446e;
    border: none;
}
.btn-area{
    /* margin-top: 30px; */
    margin-left: 30px;
}
.row{
    background: gray;
}
.bg{
    background: wheat;
}
h2,h3,h5,p{
    text-align: center;
}